# HIGH: 8~12k EPS (4s trigger 기준)
SPARK_FACT_TRIGGER_INTERVAL=4 seconds
SPARK_MAX_OFFSETS_PER_TRIGGER=52800
SPARK_MAX_OFFSETS_SAFETY=1.1
SPARK_CLICKHOUSE_WRITE_PARTITIONS=3
SPARK_CLICKHOUSE_JDBC_BATCHSIZE=20000
