# LOW: 0~4k EPS (4s trigger 기준)
SPARK_ENV_PROFILE=low
SPARK_FACT_TRIGGER_INTERVAL=4 seconds
SPARK_STREAM_SHUFFLE_PARTITIONS=6
SPARK_MAX_OFFSETS_PER_TRIGGER=
SPARK_MAX_OFFSETS_SAFETY=1.1
SPARK_MAX_OFFSETS_CAP=24000
SPARK_KAFKA_MIN_PARTITIONS_MULTIPLIER=1
SPARK_CLICKHOUSE_WRITE_PARTITIONS=2
SPARK_CLICKHOUSE_JDBC_BATCHSIZE=5000
SPARK_SKIP_EMPTY_BATCH=false
SPARK_CLICKHOUSE_ALLOW_REPARTITION=false
